<% layout('layouts/boilerplate.ejs') %>

<div class="row">
  <h1 class="text-center">Edit Food</h1>
  <div class="col-6 offset-3">
    <form action="/foods/<%=food._id%>?_method=PUT" method="POST" class="validated-form" novalidate>
      <div class="mb-3">
        <label class="form-label" for="name">Name</label>
        <input
          class="form-control"
          type="text"
          id="name"
          name="food[name]"
          value="<%=food.name%>"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea class="form-control" type="text" id="description" name="food[description]">
<%=food.description%></textarea
        >
      </div>
      <div class="mb-3">
        <label class="form-label" for="calories">Calories</label>
        <input
          class="form-control"
          type="Number"
          id="calories"
          name="food[calories]"
          value="<%=food.calories%>"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="grams">Grams</label>
        <input
          class="form-control"
          type="Number"
          id="grams"
          name="food[grams]"
          value="<%=food.grams%>"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Image URL</label>
        <input
          class="form-control"
          type="text"
          id="image"
          name="food[image]"
          value="<%=food.image%>"
        />
      </div>

      <div class="mb-3">
        <button class="btn-success">Submit Edit</button>
      </div>

      <div>
        <a href="/foods/<%= food._id %> ">Back to Food</a>
      </div>
    </form>
  </div>
</div>
